/**
* Cascade Styling Sheets - wp-skyltar-widget
*
* @since 1.0
*/

/* wp-skyltar-css */

.secondary.sidebar {
  width: 600px; /* During development */
}

.wp-skyltar-widget > input[type="text"] {
  margin-top: 8px;
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 100%;
  border: 0 !important;
  background: #F6F5F1;
  box-shadow: 0px !important;
  color: #AFADAD;
}

.wp-skyltar-widget > input[type="text"]:focus {
  background: #F6F5F1;
}

.wp-skyltar-widget > input[name="sk"] {
  width: 500px;
}

input[type="text"].sk-red {
  background: #f2dede;
}

input[type="text"].sk-green {
  background: #dff0d8;
}

input[type="text"].sk-blue {
  background: #d9edf7;
}

input[name="widget-o_skyltar_widget[2][blue]"] {
  margin-left: 13px;
}

input[name="widget-o_skyltar_widget[2][red]"] {
  margin-left: 8px;
}

input[name="widget-o_skyltar_widget[2][yellow]"] {
  margin-left: 11px;
}

input[name="widget-o_skyltar_widget[2][white]"] {
  margin-left: 16px;
}

input[name="widget-o_skyltar_widget[2][title]"] {
  width: 100%;
}

message {
  margin-left: 20px;
  font-size: .83em;
  font-weight: 600;
  opacity: 0;
}

message.activated {
  color: green;
  opacity: 1;
}

message.deactivated {
  color: red;
  opacity: 1;
}

/* END wp-skyltar-css */
