/**
* Cascade Styling Sheets - wp-skyltar-widget
*
* @since 1.0
*/

/* wp-skyltar-css */

.secondary.sidebar {
  width: 600px; /* During development */
}

.wp-skyltar-widget > input[type="text"] {
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 45%;
  border: 0 !important;
  background: #F6F5F1;
  box-shadow: 0px !important;
  color: #AFADAD;
}

.wp-skyltar-widget > input[type="text"]:focus {
  background: #F6F5F1;
}

.wp-skyltar-widget > .sk-view-distance {
  margin-left: 20px;
}

.wp-skyltar-widget h3 {
  margin-bottom: 0px !important;
}

div[name="sk"] {
  width: 80%;
  height: 7px;
  margin-top: 8px;
  -webkit-transition: all 500ms cubic-bezier(.165,.84,.44,1);
  -moz-transition: all 500ms cubic-bezier(.165,.84,.44,1);
  -ms-transition: all 500ms cubic-bezier(.165,.84,.44,1);
  -o-transition: all 500ms cubic-bezier(.165,.84,.44,1);
  transition: all 500ms cubic-bezier(.165,.84,.44,1);
}

div[name="sk"] > h5 {
  text-align: right;
  margin-right: -85px;
  line-height: 8px;
}

div.sk-red {
  background: #e42e34;     /*#f2dede*/
}

div.sk-green {
  background: #6a693d;
  width: 61.6%;
}

div.sk-blue {
  background: #3a5f67;
  width: 53.6%;
}

div.sk-yellow {
  background: rgb(246, 197, 116);
  width: 61.6%;
}

div.sk-white {
  background: #F6F5F1;
  width: 61.6%;
}

div[name="sk"].same {
  width: 80%;
}

div[name="sk"].deactivated {
  display: none;
}

input[name="widget-o_skyltar_widget[2][blue]"] {
  margin-left: 13px;
}

input[name="widget-o_skyltar_widget[2][red]"] {
  margin-left: 8px;
}

input[name="widget-o_skyltar_widget[2][yellow]"] {
  margin-left: 11px;
}

input[name="widget-o_skyltar_widget[2][white]"] {
  margin-left: 16px;
}

input[name="widget-o_skyltar_widget[2][title]"] {
  width: 100%;
}

message {
  margin-left: 20px;
  font-size: .83em;
  font-weight: 600;
  opacity: 0;
}

message.activated {
  color: green;
  opacity: 1;
}

message.deactivated {
  color: red;
  opacity: 1;
}

/* END wp-skyltar-css */
